<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz - Projeto PEX</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PROJETO PEX</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">INÍCIO</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">INFORMAÇÕES</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">QUIZ</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
