<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="hero">
      <div class="container float-left pt-5">
        <h3 class="mt-2">QUIZ GESTÃO DE RISCOS</h3>
        <p class="lead">Lorem Ipsum</p>
        <a href="#" class="btn btn-primary btn-lg btn-quiz">Começar Quiz</a>
      </div>
    </section>

    <%- include('partials/footer') %>
  </body>
</html>
