<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <form method="post" action="/visitante">
      <section class="hero">
        <div class="container float-left pt-5">
          <h3 class="mt-2">Quiz Gestão de Riscos</h3>
          <p class="lead">Teste seus conhecimentos sobre Riscos</p>
          <!-- <a href="/visitante" class="btn btn-primary btn-lg btn-quiz">Começar Quiz</a> -->
          <button class="btn btn-primary btn-lg btn-quiz">Começar Quiz</button>
        </div>
      </section>
    </form>

    <%- include('partials/footer') %>
  </body>
</html>
