<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <main id="conteudo-riscos" class="container-relatorio">
        <h1>Os criadores do site</h1>
        <p>Olá! Somos uma equipe apaixonada por Gestão de Riscos e unimos nossas diversas habilidades para criar este espaço online.</p>
        <ul>
          <li><p><strong>Diego Costa</strong> traz sua expertise em layouts e design de sites, garantindo que o site seja o mais apresentável possível para todos.</p></li>
          <li><p><strong>Julio Antonio</strong> é estudante de Análise e Desenvolvimento de Sistemas, e está em busca de sempre inovar e desenvolver projetos para ter um conhecimento melhor.</p></li>
          <li><p><strong>Samuel Fernandes</strong> é estudante de Analise e Desenvolvimento de Sistemas e consultor na área de GRC - Governaça, Riscos e Compliance - e traz sua experiência na área e o desejo de espalhar a cultura sobre gestão de riscos para as organizações.</p></li>
          <li><p><strong>Vinicius Miguel</strong> é estudante de Analise e Desenvolvimento de Sistemas e um exímio desenvolver de layout e design para sites e sistemas web.</p></li>
          <li><p><strong>Vitor Vinicius</strong> é estudante de Analise e Desenvolvimento de Sistemas e sonha em mudar um mundo com os seus conhecimentos.</p></li>
        </ul>
      </main>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
