
<%- include('partials/header') %>

    <div class="container">

        <%  
            if(typeof erros !== "undefined"){
                erros.forEach(erro => { 
        %>
                <div class="alert alert-danger"><%= erro.texto %></div>
        <%      }) 
            }
        %>


        <div class="card form-user">
            <div class="card-header user-header">
                Dados do Visitante
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarvisitante">

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">Nome</label> -->
                            <input type="text" class="form-control input-spacing" placeholder="Nome" name="nome">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">Empresa</label> -->
                            <input type="text" class="form-control input-spacing" placeholder="Empresa" name="empresa">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">Área</label> -->
                            <input type="text" class="form-control input-spacing" placeholder="Área" name="area">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">Cargo</label> -->
                            <input type="text" class="form-control input-spacing" placeholder="Cargo" name="cargo">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">E-mail</label> -->
                            <input type="email" class="form-control input-spacing" placeholder="E-mail" name="email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- <label for="" class="input-spacing">Telefone</label> -->
                            <input type="tel" class="form-control input-spacing" placeholder="Telefone" name="telefone">
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary">Enviar</button>

                </form>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>






