body {
  background-color: #d4e4e7;
  color: #122231;
}
.navbar {
  background-color: #122231;
}
.navbar a {
  color: #fff !important;
}
.quiz-container {
  background-color: #d4e4e7;
  border: 2px solid #122231;
  border-radius: 10px;
  padding: 20px;
}
.btn-primary {
  background-color: #398af6;
  border-color: #398af6;
  color: #fff;
}

footer {
  background-color: #122231;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
