.form-question {
  margin-top: 2vh;
}

.options {
  margin-left: 15px;
  margin-top: 5px;
}

body {
  background-color: #d4e4e7;
  color: #122231;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: #122231;
}
.navbar a {
  color: #fff !important;
}
.quiz-container {
  background-color: #d4e4e7;
  border: 2px solid #122231;
  border-radius: 10px;
  padding: 30px;
}
.btn-primary {
  background-color: #398af6;
  border-color: #398af6;
  color: #fff;
}

/* Animação de hover */
.nav-link {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: #398af6 !important;
  transform: scale(1.05);
}

.hero {
  background-image: url("../assets/bg-home.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Responsividade */
@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-brand {
    text-align: left;
    width: auto;
  }

  .quiz-container {
    padding: 15px;
  }

  .quiz-container span {
    font-size: 18px;
    align-items: center;
    padding: 2px;
  }

  .hero {
    background-image: url("../assets/bg-home-mobile.jpg");
    align-items: flex-end;
    padding-bottom: 100px;
    padding-left: 30px;
  }

  .navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
  }

  .navbar-nav .nav-link:hover {
    color: #0d6efd;
  }
}


body {
  background-color: #d4e4e7;
  color: #122231;
}
.navbar {
  background-color: #122231;
}
.navbar a {
  color: #fff !important;
}
.quiz-container {
  background-color: #d4e4e7;
  border: 2px solid #122231;
  border-radius: 10px;
  padding: 20px;
}
.btn-primary {
  background-color: #398af6;
  border-color: #398af6;
  color: #fff;
}


footer {
  background-color: #122231;
  justify-items: center;
  font-size: small;
  color: #fff;
  padding: 2px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 4%;
  bottom: 0;
  margin-top: 10px;
}


.input-spacing{
  margin-top: 10px;
}

.form-user{
  margin-top: 10%;
}

.user-header{
  font-size: 26px;
  font-style: italic;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: 800;
  color: rgb(31, 33, 49)
}

.card-title{
  background-color: #122231;
  color: white;
}

.card-title h4{
  font-size: 18px;
}

.card-options{
  background-color:rgb(238, 238, 240);
  font-size: 14px;
}

.card{
  margin-top: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.questionario button{
  margin-top: 10px;
}

#Responder{
  margin-bottom: 50px;
}

.container-relatorio {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color:rgb(238, 238, 240);
}

#conteudo-riscos{
  margin-top: 20px;
  font-size: 18px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin-bottom: 100px;
  /* text-align: justify;
  overflow-wrap: break-word; */
  hyphens: auto;
  /* word-break: break-all; */
  word-break: break-word;
}

#img-def-riscos{
  height: 25vh;
  float: left;
  margin-right: 10px;
}

#conteudo-riscos header{
  overflow: hidden;
}

#conteudo-riscos article{
  padding-top: 20px;
}

#def-risco-iso{
  font-style: italic;
  font-weight: 700;
  color: #122231;
}

#conteudo-riscos h2, #conteudo-riscos h3{
  font-weight: bold;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#conteudo-riscos section{
  margin-top: 50px;
}

#introducao{
  margin-top: 30px;
}

#conteudo-riscos p{
  text-align: justify;
  line-height: 1.3;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#img-etapas-gestao-riscos{
  text-align: center;
}

#img-etapas-gestao-riscos img{
  height: 350px;
}

#conteudo-riscos h1{
  text-align: center;
}

.navbar-nav{
  margin-left: 130px;
}





